*.pyc
__pycache__
tmp.*
secrets.json
dist/
*egg-info/
build/
env/
# settings.py
.pytest_cache/
config.yml
service_account.json
.vscode/
docs/_build/
staging/
.env
tests/data/sampleset/ginko-titration-recursion-depth.json
tmp*
samples_nc.json
20190214-A-B-mar-1.json
