py-spy
flake8
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.2.0
pygraphviz==1.5
pycodestyle==2.5.0
Markdown==2.6.11
MarkupSafe==1.0
pytest==3.10.0
alabaster==0.7.12
tabulate==0.8.3
Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
