agavepy==0.7.3
arrow
attrdict
chardet
cloudpickle
configparser>=3.5.0
filetype
future
GitPython<=2.1.11
google>=2.0.1
google-api-python-client>=1.7.8
google-auth>=1.5.1
google-auth-httplib2>=0.0.3
hashids
jq
jsondiff
petname
pymongo
python-magic
python-slugify
pytz
pyxdg==0.26
PyYAML
requests
requests-toolbelt
six
tacconfig
tenacity
transitions
urllib3
validators
xxhash
bacanora@git+https://github.com/SD2E/bacanora.git@master
python_jsonschema_objects@git+https://github.com/cwacek/python-jsonschema-objects.git@master
jsonmerge>=1.6.1
jsonschema>=3.0.1
pandas
xlrd